/* Especificidad (0, 0, 1)*/
h1 {
    background-color: rgb(141, 16, 141); 
    color: rgb(245, 240, 245);
    font-weight: bolder;
    text-align: center; 
}


/* Especificidad (0, 0, 1)*/
body {
    font: 400 1.4em Tahoma, sans-serif;
    line-height: 1.8;
    color: black;
}

/* Especificidad (0, 0, 1)*/
p{font-style: italic;}
