
h1 {
    background-color: rgb(141, 16, 141); 
    color: rgb(245, 240, 245);
    font-weight: bolder;
    text-align: center; 
    padding: 150px 25px;   
}

h2{
    color: rgb(12, 8, 12);
}

body {
    font: 400 15px Tahoma, sans-serif;
    line-height: 1.8;
    color: rgb(121, 114, 121);
}


p{font-style: italic;}












