/* Especificidad (0, 0, 1)*/
h1 {
    background-color: rgb(141, 16, 141); 
    color: rgb(245, 240, 245);
    font-weight: bolder;
    text-align: center; 
    padding: 150px 25px;   
}


/* Especificidad (0, 0, 1)*/
body {
    font: 400 15px Tahoma, sans-serif;
    line-height: 1.8;
    color: rgb(121, 114, 121);
}

/* Especificidad (0, 0, 1)*/
p{font-style: italic;}

/* Especificidad (0, 1, 0)*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.15fr 1fr 0.5fr 0.02fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header"
      "navegacion parrafo parrafo"
      "navegacion multimedia multimedia"
      "piePag piePag piePag";
  }
  /* Especificidad (0, 1, 0)*/
  .header { grid-area: header; } 
  /* Especificidad (0, 1, 0)*/
  .navegacion { grid-area: navegacion; } 
  /* Especificidad (0, 1, 0)*/
  .parrafo { grid-area: parrafo; } 
  /* Especificidad (0, 1, 0)*/
  .multimedia { grid-area: multimedia; } 
   /* Especificidad (0, 1, 0)*/
  .piePag { grid-area: piePag; }

