/* Especificidad (0, 0, 1)*/
h1 {
    background-color: rgb(141, 16, 141); 
    color: rgb(245, 240, 245);
    font-weight: bolder;
    text-align: center; 
}


/* Especificidad (0, 0, 1)*/
body {
    font: 400 1.2em Tahoma, sans-serif;
    line-height: 1.8;
    color:black;
    background-color: white;
}

/* Especificidad (0, 0, 1)*/
p{font-style: italic;}

#t3{
    font-size: 1.6em;
}

#t4{
    font-size: 1.1em;
}
