.grid-container {
    display: grid;
    grid-template-columns: 3em 3em 3em 3em;
    grid-template-rows: 3em 3em 3em 3em 3em 3em 3em;
    gap: 0px 0px;
    grid-template-areas:
      "pantallaPila pantallaPila pantallaPila pantallaPila"
      "resultado resultado resultado resultado"
      "sen  cos tg  division"
      "siete ocho nueve multiplicacion"
      "cuatro cinco seis menos"
      "uno dos tres mas"
      "cero punto c enter";
    
  }
  .pantallaPila {grid-area: pantallaPila;}
  .sen { grid-area: sen}
  .cos { grid-area: cos}
  .tg { grid-area: tg}
  .resultado { grid-area: resultado;}
  .division { grid-area: division; }
  .siete { grid-area: siete; background-color: rgb(134, 224, 252);}
  .ocho { grid-area: ocho; background-color: rgb(134, 224, 252);}
  .nueve { grid-area: nueve; background-color:rgb(134, 224, 252);}
  .multiplicacion { grid-area: multiplicacion; }
  .cuatro { grid-area: cuatro; background-color:rgb(134, 224, 252);}
  .cinco { grid-area: cinco; background-color: rgb(134, 224, 252);}
  .seis { grid-area: seis; background-color: rgb(134, 224, 252);}
  .menos { grid-area: menos; }
  .uno { grid-area: uno; background-color: rgb(134, 224, 252);}
  .dos { grid-area: dos; background-color:rgb(134, 224, 252);}
  .tres { grid-area: tres; background-color: rgb(134, 224, 252);}
  .mas { grid-area: mas; }
  .cero { grid-area: cero; background-color:rgb(134, 224, 252);}
  .punto { grid-area: punto; }
  .c { grid-area: c; }
  .enter { grid-area: enter; }