/* Especificidad (0, 0, 1)*/
h1 {
    background-color: rgb(141, 16, 141); 
    color: rgb(245, 240, 245);
    font-weight: bolder;
    text-align: center; 
     font-size: 2.5;
}


/* Especificidad (0, 0, 1)*/
body {
    line-height: 1.8;
    color: rgb(121, 114, 121);
    font-size: 1em;
}

/* Especificidad (0, 0, 1)*/
p{font-style: italic;
    font-size: 1em;
}
